<footer class="footer">
    <div class="wrapper">
        <div class="footer__wrapper">
            <div class="footer__item">
                <div class="header__logo">
                    <span>СASE СOUNSEL</span>
                    <span class="--color-text">Let us take care of your case. Hassle-free for you</span>
                </div>
                <div>
                    <a href="tel:+1 929 261 0242" class="footer__linc">
                        <svg class="footer__svg">
                            <use href="#phone"></use>
                        </svg>
                        <span class="text --color-text footer__hov">+1 929 261 0242</span>
                    </a>
                </div>
                <div class="footer__subscribe">
                    <a href="#" class="footer__linc" id="back-top">
                        <svg class="footer__up">
                            <use href="#up"></use>
                        </svg>
                        <span class="text --color-text footer__hov">Up</span>
                    </a>
                </div>
            </div>
            <div>
                <div class="footer__form">
                    <h3 class="text-bold">Leave a request for free advice</h3>
                    {{> form}}
                </div>
            </div>
        </div>
    </div>
    {{> modal}}
</footer>