<div class="formSend__wrapper">
    <form class="formSend" id="modalForm">
        <div>
            <svg class="close">
                <use href="#close">
                </use>
            </svg>
        </div>
        <h2 class="formSend__title">CLAIM YOUR FREE<br>
            CASE <span class="--color-sp">EVALUATION</span></h2>
        <label for="name">Name<span class="--color-sp">*</span></label>
        <input type="text" id="name" name="name" class="form-control" required>

        <label for="phone">Phone number<span class="--color-sp">*</span></label>
        <input id="phone" type="number" name="phone" class="form-control" required>

        <button type="submit" class="button">SEND</button>
    </form>
</div>