<form id="sendForm">
    <div class="form">
        <div class="input"><input type="text" name="name" class="form-control" required placeholder="Name" autocomplete="off"><span class="form__span-name">*</span></div>
        <div class="input"><input type="number" name="phone" class="form-control" required placeholder="Phone number" autocomplete="off"><span class="form__span-number">*</span></div>
        <button class="button">Submit</button>
    </div>
    <div class="information__button">
        <p>By clicking "Send", You Agree to the <span class="show-policese">Privacy Policy</span></p>
    </div>
</form>