<header class="header">
   <div class="header__wrapper wrapper">
       <div class="header__logo">
           <span>СASE СOUNSEL</span>
           <span>Let us take care of your case. Hassle-free for you</span>
       </div>
       <div class="header__nav-container">
           <nav class="header__nav">
               <ul class="header__nav-list">
                   <li><a href="#practice">PRACTICE AREAS</a></li>
                   <li><a href="#review">TESTIMONIALS</a></li>
                   <li><a href="#faq">FAQ</a></li>
                   <li><a href="tel:+1 929 261 0242">+1 929 261 0242</a></li>
               </ul>
           </nav>
           <button class="button consult openForm">Free Consultation</button>
       </div>
   </div>
</header>