<div class="policyModal">
    <div class="policy">
        <div class="policy__header">
            <h3>Terms of Service</h3>
            <div>
                <svg class="close-policise">
                    <use href="#close">
                    </use>
                </svg>
            </div>
        </div>
        <p class="text">1. Acceptance of Terms:<br>
            By accessing and using this website, you agree to comply with these Terms of Service. If you do not agree, please do not use our website.</p>

        <p class="text">2. Service Description:<br>
            This website provides lawyer recommendations for personal injury cases. We do not provide legal advice. The lawyers recommended are independent professionals, and we are not responsible for their advice or services.</p>

        <p class="text">3. User Obligations:<br>
            You agree to provide accurate and current information about your case when requesting lawyer recommendations. Misrepresentation may result in suspension or termination of access to our services.</p>

        <p class="text">4. Intellectual Property:<br>
            The content, layout, design, data, graphics, and products on this website are protected by intellectual property laws. You may not copy, distribute, modify, or make derivative works of any material without express consent.</p>

        <p class="text">5. Cookies and Tracking Technologies:<br>
            We use cookies and similar tracking technologies to track the activity on our service and store certain information. Cookies are files with a small amount of data which may include an anonymous unique identifier. You consent to the use of cookies by using our service. You can instruct your browser to refuse all cookies or indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our service.</p>

        <p class="text">6. Limitation of Liability:<br>
            We shall not be liable for any damages resulting from the use of our service, including but not limited to direct, indirect, incidental, punitive, and consequential damages.
        </p>
        <p class="text">7. Indemnification:<br>
            You agree to indemnify and hold harmless our website, its affiliates, officers, agents, and employees from any claim or demand made by any third party due to or arising out of your use of the service.
        </p>
        <p class="text">8. Modification of Terms:<br>
            We reserve the right to modify these terms at any time. Your continued use of the site following any changes signifies your acceptance of the new terms.
        </p>
        <p class="text">9. Governing Law:<br>
            These terms shall be governed by and construed in accordance with the laws of the jurisdiction in which our company is registered, without giving effect to any principles of conflicts of law.
        </p>
    <p class="text">For any questions regarding these terms, please contact us at info@yourcasecounsel.com</p>
        <div class="policy__header mt">
            <h3>Privacy Policy</h3>
        </div>
        <p class="text">1. Information Collection:<br>
            We collect personal details such as name, contact information, and specific information about your personal injury case for the purpose of recommending suitable lawyers.
        </p>
        <p class="text">2. Use of Information:<br>
            The information collected is used exclusively to provide you with personalized lawyer recommendations. We ensure that your information is not shared with any third parties, except as required to facilitate the lawyer recommendation service
        </p>
        <p class="text">3. Data Security:<br>
            We are committed to protecting the security of your personal information. Appropriate measures are taken to prevent unauthorized access, disclosure, alteration, or destruction of your information.
        </p>
        <p class="text">4. Changes to Policy:<br>
            We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website.
        </p>
        <p class="text">5. Consent:<br>
            By using our service, you consent to our privacy policy and agree to its terms.
        </p>
        <p class="text">For any questions regarding this policy, please contact us at  info@yourcasecounsel.com.
        </p>
    </div>
</div>