<div class="pop-up">
    <div class="pop-up__container">
        <div class="pop-up__information">
            <div>
                <svg class="pop-up__close">
                    <use href="#close-modal">
                    </use>
                </svg>
            </div>
            <div class="pop-up__text">
                <p class="pop-up__title --color-text">Details submitted</p>
                <button type="submit" class="pop-up__button"></button>
            </div>
        </div>
    </div>
</div>